body{
    /* background-color:rgb(139, 231, 139); */
    background-color: black;
}
.topnav{
    display:none;
}
#navbar{
    /* border: 1px solid red; */
    height: 60px;
    width:auto;
    background-color:black;
    margin-top: -60px;
    width:98.8%;
    position:fixed;
}
#lcont{
    width:40%;
    display:flex
}
#resumenav{
    padding:10px 5px 10px 5px;
}
.resumenav{
    padding:10px 10px 10px 10px;
    background-color: orange;
    border-radius: 10px;
}
.resumenav:hover{
    background-color: green;
    color:white;
}
#home{
    width:300px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    /* background-color: black; */
    /* border-radius: 10px; */
  margin-left: 20px;
}
.home:hover{
    color:greenyellow;
}
.home{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
#project{
    width:100px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    margin-left: -20px;

}
.project:hover{
    color:orange;
}
.project{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
#about{
    width:100px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
}
.about:hover{
    color:orange;
}
.about{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 22px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#tech{
    width:148px;
    height:30px;
    /* border:1px solid white; */
    margin-top: 13px;
    margin-left: -40px;
}
#tech:hover{
    color:orange;  
}
#skills{
    width:100px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    margin-left: -20px;
 
}
.skills:hover{
    color:orange;
}
.skills{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#stat{
    width:100px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    margin-left: -20px;
}
#cont{
    margin-top: 13px;
    margin-left: 40px;
}
.cont{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    /* margin-left: 25px; */
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
}
.cont:hover{
    color:orange;  
}
#container{
    display: flex;
    justify-content:space-between;
}
#rcont{
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid green; */
    width:60%;
    height:60px;
}

#conthead{
    width:100%;
    /* height:100px; */
    padding:0px 0px 20px 0px;
    /* border:1px solid red; */
    background-color: darkslateblue;
    border-radius: 20px;
    margin-top: 60px;
}
#contact{
    width: 260px;
    margin:auto;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.contpic{
    width:200px;
    margin-left: 0px;
}
#box{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    height:450px;
    /* border:1px solid red; */
    margin-top: 50px;
    padding-top: 30px;
    background-color: rgb(49, 55, 66);
}
#formbox{
    /* border:1px solid red; */
    margin-top: 30px;
    background-color: rgb(63, 56, 70);
    border-radius: 10px;
    height:500px;
    margin-bottom: 50px;
}

#formhead{
    /* border:1px solid red; */
    width:20%;
    height: 40px;
    background-color: rgb(241, 241, 111);
    /* border:1px solid black; */
    margin:auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    padding-top: 10px;

}
#formhead:hover{
    background-color:greenyellow;
    transition: transform .5s;
    transform: scale(1.1);
}

#aboutfmbox{
    width:90%;
    height:360px;
    margin:auto;
    /* border:1px solid red; */
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
    padding-top: 30px;
    background-color: rgb(248, 248, 95);
    border-radius: 5px;
}
#lfmabout{
    width:35%;
    height:86%;
    /* border:1px solid red; */
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    background-color: darkorange;
}
#rfmbox{
    width:60%;
    height:80%;
    /* border:1px solid green; */
padding-top: 30px;
padding-bottom: 10px;
border-radius: 10px;
background-color: lawngreen;

}
.ee{
    width:40px;
    border-radius: 10px;
    margin-left: 50px;
}
.nn{
    width:40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
}
.gg{
    width:40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
}
.ll{
    width:40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
}
.aa{
    width:40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
}
.see{
    margin-top: -30px;
    margin-left: 130px;
}
.snn{
    margin-top: -30px;
    margin-left: 130px; 
}
.sgg{
    margin-top: -30px;
    margin-left: 130px; 
}
.sll{
    margin-top: -30px;
    margin-left: 130px; 
}
.saa{
    margin-top: -30px;
    margin-left: 130px; 
}
/* a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;

} */
form div{
    width:90%;
    /* border:1px solid black; */
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
}
form input{
    width:70%;
    height:40px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#fmessage{
    width:94%;
}
#formbutton{
    background-color: rgb(10, 248, 185);
    padding: 10px 20px 10px 20px;
    padding-right: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

#rfmbox a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}
#footer{
    text-align: center;
    width:100%;
    height:40px;
    /* border:1px solid red; */
    margin-top: 30px;
    padding-top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 956px)
{
    #navbar{
        height:70px;
    }
    #formbox{
        height:580px;
    }
    #aboutfmbox{
        height:420px;
    }
}
@media only screen and (max-width: 768px)
{
    
    #navbar{
        display: none;
    }
    /* Style the navigation menu */
    .topnav {
        display: block;
        overflow: hidden;
        /* background-color: #333; */
        background-color: black;
        position: fixed;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 97%;
        margin-top: -70px;
        padding-left: 10px;
      }
      
    
    #cbr{
        display: flex;
    }
    
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        /* background-color: #ddd; */
        background-color: black;
        color:white;
        
      }
      
      /* Style the active link (or home/logo) */
      .active {
        /* background-color: #04AA6D; */
        background-color: black;
        color: white;
        margin-top: 10px;
        font-size: large;
       
      }
      .icon{
        font-size: 25px;
      }
    
    .resumenav{
        margin-top: -20px;
        margin-left: 40px;
    }
    
  #conthead{
    margin-top: 70px;
  }
  #formhead{
    width:170px;
  }
    #formbox{
        width:100%;
        height:800px;
        /* margin-top: -60px; */
    }
    #aboutfmbox{
        height:80%;
        flex-direction: column;
        align-items: center;
    }
    #lfmabout{
        width:90%;
        height:50%;
    
    }
    #rfmbox{
        width:90%;
        height:50%;
        overflow: scroll;
    }
}
@media only screen and (max-width: 375px) 
{
    .topnav{
        width:98%;
        margin-left: -10;
        background-color: black;
    }
    .active{
        margin-top: 10px;
    }
    .resumenav{
        margin-top: -15px;
        margin-left: 0px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: bolder;
        border: none;
    }
    #formbox{
        width:90%;
        margin:auto;
        height:950px;
        margin-top: 40px;
    /* margin-left: 120px; */
    }
    #aboutfmbox{
        height:80%;
        flex-direction: column;
        align-items: center;
    }
    #lfmabout{
        width:98%;
        height:50%;
    
    }
    #rfmbox{
        width:98%;
        height:45%;
    
        /* overflow: scroll; */
    }
    #ee{
        margin-left: -40px;
    }
    #nn{
        margin-left: -40px;
    }
    #gg{
        margin-left: -40px;
    }
    #ll{
        margin-left: -40px;
    }
    #aa{
        margin-left: -40px;
    }
    #footer{
        height:70px;
    }
}