body{
    background-color:rgba(255, 208, 0, 0.205);
}
#navbar{
    /* border: 1px solid red; */
    height: 60px;
    width:auto;
    background-color:black;
  
}
#home{
    width:300px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    /* background-color: black; */
    /* border-radius: 10px; */
  margin-left: 20px;
}
.home:hover{
    color:greenyellow;
}
.home{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
#project{
    width:100px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
margin-left: -10px;
}
.project:hover{
    color:orange;
}
.project{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
    color:greenyellow;
    font-family: 'Courier New', Courier, monospace;
}
#about{
    width:100px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    margin-left: 20px;
}
.about:hover{
    color:orange;
}
.about{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 22px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#tech{
    width:150px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    margin-left: -25px;
}
#tech:hover{
    color:orange;  
}
#skills{
    width:100px;
    height:30px;
    /* border:1px solid black; */
    margin-top: 13px;
    margin-left: -15px;
 
}
.skills:hover{
    color:orange;
}
.skills{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#stat{
    margin-top: 13px;
    margin-left: -20px;
}
.cont{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#cont{
    margin-top: 13px;
    margin-left: -20px;
}
.cont:hover{
    color:orange;  
}
#container{
    display: flex;
    justify-content:space-between;
}
#rcont{
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid green; */
    width:60%;
    height:60px;
}

#pheading{
    width:100%;
    height:100px;
    /* border:1px solid red; */
    /* margin-top: 40px; */
    display: flex;
    justify-content:center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color: rgb(133, 196, 248);
}
.pheading{
    width:250px;
    height:30px;
    /* margin:auto; */
    font-size: 28px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    margin-top: 35px;
    /* border:1px solid green; */
}
.plogo{
    width:70px;
    margin-top: 22px;
}
#pbox{
    /* width:100%; */

    display:grid;
    column-gap: 20px;
    padding:30px;
    row-gap: 50px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 375px 390px;
  /* background-color: rgb(3, 3, 44); */
    /* border:1px solid red; */
    margin-top: 50px;
}
#pbox>div{
    width:100%;
    /* border:1px solid green;   */
}
#p1{
    display:flex;
    /* border:1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#lp1{
    width:50%;
    height:auto;

    padding:10px;
    background-color:white;
    /* border:1px solid red; */
}
#rp1{
    width:50%;
    height:auto;
    /* border:1px solid red; */
    padding:10px;
    background-color: rgb(133, 196, 248);
}

#p2{
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#lp2{
    width:50%;
    height:auto;
    /* border:1px solid red; */
    padding:10px;
    background-color: white;
}
#rp2{
    width:50%;
    height:auto;
    /* border:1px solid red; */
    padding:10px;
    background-color: rgb(133, 196, 248);
}
#lp1 div{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
#lp2 div{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px; 
}
#tp1{
    font-weight: bolder;
   
}
#tp2{
    font-weight: bolder;
}
#a1{
    font-weight: bolder;
   font-style: italic;
}
#a2{
    font-weight: bolder;
   font-style: italic;
}
#lp1 h2{
    font-family: 'Courier New', Courier, monospace;
}
#lp2 h2{
    font-family: 'Courier New', Courier, monospace;
}
#rp1{
    text-align: center;
   
}
.rp1{
    margin-top: 7px;
    width:575px;
    height:340px;
    transition: transform .5s;
}
#rp2{
    text-align: center;
   
}
.rp2{
    width:575px;
    height:350px;
    transition: transform .5s;
    margin-top: 9px;
}
.rp1:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.rp2:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
#tp1:hover{
    transform: scale(1.1);
    margin-left: 30px;
    color:blue;
}
#tp2:hover{
    transform: scale(1.1);
    margin-left: 30px;
    color:blue;
}
#button1{
    display: flex;
    justify-content: space-around;
}

button{
    padding:10px;
    background-color: orange;
    border:none;
    border-radius: 10px;
    font-weight: bolder;
}
#p1b1:hover{
    background-color: greenyellow;
}
#p1b2:hover{
    background-color: greenyellow;
}



#footer{
    text-align: center;
    width:100%;
    height:40px;
    /* border:1px solid red; */
    margin-top: 30px;
    padding-top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media all and (min-width:451px) and (max-width:750px)
{
    #pbox{
        width:90%;
        height:1000px;
        display:grid;
        row-gap: 30px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:100px 100px 100px;
    }
    #pbox div{
        border:1px solid yellow;
    }
}